<!--{config_load file="smarty.conf"}-->
<div class="content">
	<div class="wrap">
		<div class="contentside">
		<!--{include file="toolbar/wgt-toolbar.tpl"}-->
		</div>
		<div class="scroll">
		<div class="contentbody contentwrap">
		<div class="section">
			
			<div id="phoneinfo" class="mid no">
				<img id="mo_logo" class="lf" src="<!--{#img4#}-->/resources/img/transparent.gif" style="background:no-repeat center center;" />
				<div style="margin-left:280px;">
						<h3 class="f4">手机存储空间使用：</h3>
						<table border="0" cellpadding="0" cellspacing="0" style="color:#333333;">
							<tr>
								<td width="150">
									<div>
										<span class="f4">内存占用</span>
										<div id="mo_ram" style="height:15px; width:250px; border:1px solid #999999;"><div style="height:15px; width:0%; background:url(<!--{#res1#}-->/resources/img/green.png);"></div></div>
										<span class="lf f2 n" style="color:#2F82EA">正在检查...</span>
										<span class="rg f2 n" style="color:#2F82EA"> </span>
									</div>
								</td>
								<td width="30"></td>
							</tr>
							<tr>
								<td width="150">
									<div>
										<span class="f4">手机存储</span>
										<div id="mo_rom" style="height:15px; width:250px; border:1px solid #999999;"><div style="height:15px; width:0%; background:url(<!--{#res2#}-->/resources/img/green.png);"></div></div>
										<span class="lf f2 n" style="color:#2F82EA">正在检查...</span>
										<span class="rg f2 n" style="color:#2F82EA"> </span>
									</div>
								</td>
								<td width="30"></td>
							</tr>
							<tr>
								<td width="150">
									<div>
										<span class="f4">SD卡存储</span>
										<div id="mo_fla" style="height:15px; width:250px; border:1px solid #999999;"><div style="height:15px; width:0%; background:url(<!--{#res3#}-->/resources/img/green.png);"></div></div>
										<span class="lf f2 n" style="color:#2F82EA">正在检查...</span>
										<span class="rg f2 n" style="color:#2F82EA"> </span>
									</div>
								</td>
								<td width="30"></td>
							</tr>
						</table>
						
						<div style="height:1px; margin:20px 0px; background:#EEEEEE;"></div>

						
						<h3 class="f4">手机内容数据统计：</h3>
						<table border="0" cellpadding="0" cellspacing="0" class="table f2">
							<tr>
								<td width="24"><img src="<!--{#res1#}-->/resources/images/icon_address.png" /></td>
								<td width="180">
									<a href="contacts.html"><span id="mo_contact" class=" n" style="color:#2F82EA">正在检查...</span>
									<span class="">位联系人</span></a>
								</td>
								<td width="30"></td>

								<td width="24"><img src="<!--{#res2#}-->/resources/images/icon06_24.png" /></td>
								<td width="180">
									<a href="file1.html"><span id="mo_video" class=" n" style="color:#2F82EA">正在检查...</span>
									<span class="">个视频</span></a>
								</td>
								<td width="30"></td>
							</tr>
							<tr>
								<td width="24"><img src="<!--{#res3#}-->/resources/images/icon_sms.png" /></td>
								<td width="180">
									<a href="sms.html"><span id="mo_sms" class=" n" style="color:#2F82EA">正在检查...</span>
									<span class="">条短信</span></a>
								</td>
								<td width="30"></td>

								<td width="24"><img src="<!--{#res1#}-->/resources/images/icon07_24.png" /></td>
								<td width="180">
									<a href="file3.html"><span id="mo_doc" class=" n" style="color:#2F82EA">正在检查...</span>
									<span class="">文档/电子书</span></a>
								</td>
								<td width="30"></td>
							</tr>
							<tr>
								<td width="24"><img src="<!--{#res2#}-->/resources/images/icon03_24.png" /></td>
								<td width="180">
									<a href="app.html"><span id="mo_app" class=" n" style="color:#2F82EA">正在检查...</span>
									<span class="">个应用程序</span></a>
								</td>
								<td width="30"></td>

								<td width="24"><img src="<!--{#res3#}-->/resources/images/icon08_24.png" /></td>
								<td width="180">
									<a href="file4.html"><span id="mo_img" class=" n" style="color:#2F82EA">正在检查...</span>
									<span class="">张图片</span></a>
								</td>
								<td width="30"></td>
							</tr>
							<tr>
								<td width="24"><img src="<!--{#res1#}-->/resources/images/icon05_24.png" /></td>
								<td width="180">
									<a href="file2.html"><span id="mo_music" class=" n" style="color:#2F82EA">正在检查...</span>
									<span class="">首音乐</span></a>
								</td>
								<td width="30"></td>

								<td width="24"></td>
								<td width="180">
									
								</td>
								<td width="30"></td>
							</tr>
						</table>

						<div style="height:1px; margin:20px 0px; background:#EEEEEE;"></div>
						
				</div>
			</div>
			
			<div id="iosinfo" class="no">
				<div id="iosbasic">
				<div id="iosinfos">
					<div class="ios_img">
						<img id="ios_logo_big" src="<!--{#img4#}-->/resources/img/transparent.gif" style="background:no-repeat center center;" />
						<!-- <a class="button" target="_blank" href="{#res3#}/start/ios_course.html">查看操作教程</a> -->
					</div>
					
					<div class="lf iosbg">
						<h1>当前连接　<span id="ios_info_nicknamett"></span></h1>
						<div class="iosbgin">
						<div class="ios_bluebg clear">
						<div id="ios_list">
						<ul>
							<li>设备名称：<span id="ios_info_nickname"></span></li>
							<li>设备类型：<span id="ios_info_os"></span></li>
							<li>设备型号：<span id="ios_info_type"></span></li>
							<li>设备颜色：<span id="ios_info_color"></span></li>
							<li>序&nbsp;列&nbsp;&nbsp;号：<span id="ios_info_imei"></span></li>
							<li>系统版本：<span id="ios_info_vision"></span></li>
							<!-- <li>激活状态：<span id="ios_info_active"></span></li> -->
							<li>销售地区：<span id="ios_info_area"></span></li>
							<li>是否越狱：<span id="ios_info_break"></span></li>
							<li>MAC地址：<span id="ios_info_mac"></span></li>
						</ul>
						</div>
						<div id="ios_memory">
							<h2>手机存储空间：</h2>
							<div id="ios_ram" style="height:15px; width:350px; border:1px solid #aaaaaa;"><div style="height:15px; width:0%;"></div></div>
							<div style="width:350px; height:30px;" id="ios_ramtxt">
								<span class="lf f2 n" style="color:#3081ed;">正在检查... </span>
								<span class="rg f2 n" style="color:#3081ed;"> </span>
								<div class="clr"></div>
							</div>
						</div>
						<div id="ios_content">
							<h2>手机内容数据：</h2>
							<div id="ios_content_list">
								<img src="<!--{#res1#}-->/resources/img40/icon_ios_contacts.png" align="absmiddle" />
								<a href="#" onclick="navUrl('3', '/mobile/contacts.html');return false;"><span id="ios_contact" class=" n" style="color:#2F82EA">正在检查...</span>
								<span class="">位联系人</span></a>
							</div>
							<div id="ios_app_list">
								<img src="<!--{#res2#}-->/resources/img40/icon_ios_apps.png" align="absmiddle" />
								<a href="#" onclick="navUrl('3', '/mobile/app.html');return false;"><span id="ios_app" class=" n" style="color:#2F82EA">正在检查...</span>
								<span class="">个应用程序</span></a>
							</div>
						</div>
						<div class="clr"></div>
						</div>
						</div>
						</div>
						<div class="ios_side">
							<div class="ios_side_text">
								<h3>重要提示</h3>
								<p class="cred b">必须先用iTunes同步一个文件<a href="http://content.appdear.com/soft/ios/tongbu.zip" target="_blank" title="点击下载" class="tooltip openlink"><span style="color:blue">（点击下载）</span></a>，才能用爱皮下载安装，否则运行时会闪退！具体同步方法和问题提示请查看<a target="_blank" style="color:blue" href="/start/ios_course.html" title="操作教程" onclick="$.colorbox({href:this.href, width:'980px', height:'600px', scrolling:false, close:false, overlayclose:false});">“操作教程”</a>。</p>
								<p>其他提示说明：</p>
								<ul>
									<li>iTunes同步操作会清除设备上的数据，请务必提醒顾客。</li>
									<li>爱皮下载支持为所有IOS设备安装正版软件，无论是否越狱。</li>
									<li>爱皮下载首次启动会为电脑授权，成功后手动重启电脑，之后方可进行后续的苹果软件安装。如果授权失败请确认关闭360、QQ电脑管家等防护软件后，再次启动爱皮下载重试一次。</li>
									<li>每个IOS设备只需进行一次同步操作。</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				</div>
				<div id="mb_btm" class="no clear">
					<a href="#null" id="index_backup"><img src="<!--{#res3#}-->/resources/img40/onkeybackup.png" /></a>&nbsp;&nbsp;
					<a href="#null" id="index_restore"><img src="<!--{#res4#}-->/resources/img40/onkeyrestore.png" /></a>
				</div>
		</div>
		</div>
		</div>		
	</div>
</div>
<script>
	if(checkphone() == true){
		dispAppCount('','mo_app','1');
		dispSMSCount('','mo_sms','1');
		dispContactCount('','mo_contact','1');
		dispDocCount('','mo_doc','1');
		dispVideoCount('','mo_video','1');
		dispMusicCount('','mo_music','1');
		dispImgCount('','mo_img','1');
	}	
</script>