<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>爱皮下载零售店版支持机型列表</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style>
body{ font-family:微软雅黑,宋体,arial,verdana; color:#333333; background-color:#fff }
.table2{border:#B6D2E9 solid;border-width:1px 0px 0px 1px; line-height:20px; width:750px; font-size:13px;}
.td2{border:#B6D2E9 solid;border-width:0px 1px 1px 0px; padding:5px; font-size:13px;}
.area{ width:748px;border-top:1px #B6D2E9 solid;border-left:1px #B6D2E9 solid;border-right:1px #B6D2E9 solid; height:50px; font-size:20px; padding-top:20px; color:#000000; background-color:#edfbfe;}
.STYLE1 {border: #B6D2E9 solid; border-width: 0px 1px 1px 0px; padding: 5px; font-size: 15px; font-weight: bold; }
</style>
</head>
<body>
<div>
	<div style="font-size:32px; padding:10px;" align="center" >爱皮下载零售店版支持机型列表</div>
	<div style="padding-bottom:20px; color:#CCCCCC" align="center">最近更新：2012年5月9日</div>
</div>
<div align="center">

<div class="area">IOS设备(共10款)</div>
<div style="width:750px;">
  <table cellspacing="0" cellpadding="0" class="table2">
    <col width="226">
    <col width="252">
    <tr height="41">
      <td width="226" height="41" class="STYLE1">品牌</td>
      <td width="252" class="STYLE1">机型</td>
    </tr>
    <tr height="18"> 
      <td rowspan="10" height="180" class="td2">苹果</td>
      <td height="18" class="td2">iPhone一代</td>
    </tr>
    <tr height="18">
      <td height="18" class="td2">iPhone 3G</td>
    </tr>
    <tr height="18">
      <td height="18" class="td2">iPhone 3GS</td>
    </tr>
    <tr height="18">
      <td height="18" class="td2">iPhone 4</td>
    </tr>
    <tr height="18">
      <td height="18" class="td2">iPhone 4S</td>
    </tr>
    <tr height="18" >
      <td height="18" class="td2">iPod Touch3</td>
    </tr>
    <tr height="18">
      <td height="18" class="td2">iPod Touch4</td>
    </tr>
    <tr height="18">
      <td height="18" class="td2">iPad1</td>
    </tr>
    <tr height="18">
      <td height="18" class="td2">iPad2</td>
    </tr>
    <tr height="18">
      <td height="18" class="td2">The New iPad</td>
    </tr>
  </table>
  <div style="height:20px;"></div>
  
 	<div class="area">Android设备（共315款）</div>
	<div style="width:750px;">
	  <table cellspacing="0" cellpadding="0" class="table2">
        <col width="226">
        <col width="252">
        <tr height="29">
          <td height="29" width="226" class="STYLE1">品牌</td>
          <td width="252" class="STYLE1">机型</td>
        </tr>
        <tr height="18">
          <td rowspan="54" height="972" class="td2">三星</td>
          <td  height="18" class="td2">B7722</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">I509</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">I5508/5508</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">I559</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">I569</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">I579</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">I589</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">I6500U</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">I7500</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">I809</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">I8150</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">I9000</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">I9003</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">I9008</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">I9008L</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">I9020/Nexus S</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">I9070</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">I909</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">I9100</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">I9103</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">I9108</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">I919</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">I9220</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">I9228</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">I9250</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">I929</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">P1000</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">P6200</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">P6210</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">P6800</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">P7310</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">P7500</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">P7510</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">S5300</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">S5360</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">S5368</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">S5560</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">S5570</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">S5578</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">S5580</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">S5660</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">S5670</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">S5690</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">S5820</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">S5830</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">S5830i</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">S5838</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">S6102</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">S6500D</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">S7500</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">S7750</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">W799</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">W899</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">W999</td>
        </tr>
        <tr height="18">
          <td rowspan="37" height="666" class="td2">摩托罗拉</td>
          <td  height="18" class="td2">A1680</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">ME501</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">ME511</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">ME525</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">ME525+</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">ME600</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">ME632</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">ME722</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">ME811</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">ME860/MB860</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">ME863</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">ME865</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">MT710</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">MT720</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">MT810</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">MT870</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">XT300</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">XT301</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">XT316</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">XT319</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">XT320</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">XT502</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">XT531</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">XT532</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">XT535</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">XT615</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">XT681</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">XT701</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">XT702</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">XT711</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">XT800</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">XT800+</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">XT806</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">XT882</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">XT883</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">XT910</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">XT928</td>
        </tr>
        <tr height="18">
          <td rowspan="14" height="252" class="td2">LG</td>
          <td  height="18" class="td2">C550</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">C660</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">E400</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">E510</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">E730</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">P350</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">P355</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">P503</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">P690</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">P693</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">P698</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">P970</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">P990</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">P993</td>
        </tr>
        <tr height="18">
          <td rowspan="21" height="378" class="td2">索尼爱立信</td>
          <td  height="18" class="td2">E10i</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">E10i</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">E15i</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">E16i</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">E51i</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">LT15i</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">LT18i</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">LT22i</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">LT26i</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">MK16i</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">MT15i</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">MT27i</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">SK17i</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">ST15i</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">ST18i</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">ST25i</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">U20i</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">WT19i</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">X10i</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">X12</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">Z1i</td>
        </tr>
        <tr height="18">
          <td rowspan="29" height="522" class="td2">HTC</td>
          <td  height="18" class="td2">A310E</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">A315C</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">A3380</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">A510C</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">A6390</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">G1</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">G10/A9191</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">G11/S710e</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">G12/s510e</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">G13/A510e</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">G14/Z710e</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">G15/C510e</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">G16/A810E</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">G18/Z715e</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">G2</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">G6</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">G7/A8180</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">G8/A3333</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">G8/A3366</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">Mytouch4G</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">ONE X</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">P510E</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">S510B</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">S610d</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">T328W</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">X315E</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">X515D</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">X515M</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">Z510D</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">多普达</td>
          <td height="18" class="td2">A8188</td>
        </tr>
        <tr height="18">
          <td rowspan="3" height="54" class="td2">长虹</td>
          <td  height="18" class="td2">M18</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">M3</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">W8</td>
        </tr>
        <tr height="18">
          <td rowspan="2" height="36" class="td2">谷歌</td>
          <td  height="18" class="td2">Nexus One</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">Nexus S</td>
        </tr>
        <tr height="18">
          <td rowspan="7" height="126" class="td2">海信</td>
          <td  height="18" class="td2">E910</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">EG968</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">ET919</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">HS-E87</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">HS-E89</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">T92</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">U8</td>
        </tr>
        <tr height="18">
          <td rowspan="18" height="324" class="td2">华为</td>
          <td  height="18" class="td2">C8500</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">C8600</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">C8650</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">C8800</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">G300</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">S8600</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">T8100</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">U8150</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">U8220</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">U8500</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">U8520</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">U8650</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">U8650+</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">U8850</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">U8860</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">U8861</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">U9000</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">U9200</td>
        </tr>
        <tr height="18">
          <td rowspan="2" height="36" class="td2">海尔</td>
          <td  height="18" class="td2">N80W</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">N88W</td>
        </tr>
        <tr height="18">
          <td rowspan="17" height="306" class="td2">ZTE中兴</td>
          <td  height="18" class="td2">N600</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">N600+</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">N760</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">N780</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">N880</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">N880E</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">N880S</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">N960</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">R750</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">U812</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">U880</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">U960</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">U960S</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">V880</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">V889D</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">V960</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">X850</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">小米</td>
          <td  height="18" class="td2">MI-ONE</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">奥克斯</td>
          <td  height="18" class="td2">M959</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">三普</td>
          <td  height="18" class="td2">HX838</td>
        </tr>
        <tr height="18">
          <td rowspan="3" height="54" class="td2">普莱达</td>
          <td  height="18" class="td2">F1</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">F2</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">F3</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">欧盛</td>
          <td height="18" class="td2">W7</td>
        </tr>
        <tr height="18">
          <td rowspan="2" height="36" class="td2">语信</td>
          <td  height="18" class="td2">W702</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">W800</td>
        </tr>
        <tr height="18">
          <td rowspan="2" height="36" class="td2">酷比</td>
          <td  height="18" class="td2">A109</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">魔方U17GT</td>
        </tr>
        <tr height="18">
          <td rowspan="3" height="54" class="td2">欧新</td>
          <td  height="18" class="td2">U3</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">U5</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">U6</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">电意</td>
          <td height="18" class="td2">G01</td>
        </tr>
        <tr height="18">
          <td rowspan="2" height="36" class="td2">朵唯</td>
          <td  height="18" class="td2">D5</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">D720</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">E派</td>
          <td  height="18" class="td2">W66</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">阿凡提</td>
          <td  height="18" class="td2">S01</td>
        </tr>
        <tr height="18">
          <td rowspan="4" height="72" class="td2">天语</td>
          <td  height="18" class="td2">E800</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">U2</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">W606</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">W808</td>
        </tr>
        <tr height="18">
          <td rowspan="24" height="432" class="td2">酷派</td>
          <td  height="18" class="td2">5820</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">5855</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">5860</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">7019</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">7260</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">7500</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">8013</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">8150</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">8809</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">8810</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">9900</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">9930</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">D530</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">D539</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">D5800</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">E239</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">N916</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">N930</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">N950</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">W706</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">W708</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">W711</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">W721</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">W770</td>
        </tr>
        <tr height="18">
          <td rowspan="4" height="72" class="td2">步步高</td>
          <td  height="18" class="td2">S1</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">S3</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">V1</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">Y1</td>
        </tr>
        <tr height="18">
          <td rowspan="19" height="342" class="td2">联想</td>
          <td  height="18" class="td2">A300</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">A30T</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">A366T</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">A390e</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">A500</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">A520</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">A60</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">A65</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">A668T</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">A66T</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">A688T</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">A68e</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">A750</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">A790e</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">K2</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">P70</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">S2</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">S760</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">W101</td>
        </tr>
        <tr height="18">
          <td rowspan="2" height="36" class="td2">魅族</td>
          <td  height="18" class="td2">M9</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">MX</td>
        </tr>
        <tr height="18">
          <td rowspan="4" height="72" class="td2">康佳</td>
          <td  height="18" class="td2">E5760</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">E810</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">E860</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">W810</td>
        </tr>
        <tr height="18">
          <td rowspan="3" height="54" class="td2">基伍</td>
          <td  height="18" class="td2">A56</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">A70</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">A72</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">35Phone</td>
          <td  height="18" class="td2">Q68</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">同创</td>
          <td  height="18" class="td2">P800</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">台电</td>
          <td  height="18" class="td2">T760SE</td>
        </tr>
        <tr height="18">
          <td rowspan="5" height="90" class="td2">OPPO</td>
          <td  height="18" class="td2">R803</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">R807</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">T703</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">X903</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">X905</td>
        </tr>
        <tr height="18">
          <td rowspan="5" height="90" class="td2">TCL</td>
          <td  height="18" class="td2">A919</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">A966</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">A990</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">A996</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">A998</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">夏普</td>
          <td  height="18" class="td2">SH8188U</td>
        </tr>
        <tr height="18">
          <td rowspan="3" height="54" class="td2">飞利浦</td>
          <td  height="18" class="td2">V726</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">W626</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">W820</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">贝尔丰</td>
          <td  height="18" class="td2">A10</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">夏新</td>
          <td  height="18" class="td2">N79</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">U9</td>
          <td  height="18" class="td2">S320</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">AIGO</td>
          <td  height="18" class="td2">M801</td>
        </tr>
        <tr height="18">
          <td rowspan="10" height="180" class="td2">金立</td>
          <td  height="18" class="td2">GN103</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">GN105</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">GN106</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">GN109</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">GN200</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">GN205</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">GN210</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">GN320</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">GN380</td>
        </tr>
        <tr height="18"> <td height="18" class="td2">GN868</td>
        </tr>
      </table>
    </div>
  </div>
    <div style="height:20px;"></div>
   	<div class="area">塞班设备（共127款）</div>
  <div style="width:750px;">
    <table cellspacing="0" cellpadding="0" class="table2">
      <col width="226">
      <col width="252">
      <tr height="18">
        <td height="18" width="226" class="STYLE1">品牌</td>
        <td width="252" class="STYLE1">机型</td>
      </tr>
      <tr height="18">
        <td rowspan="127" height="2286" class="td2">诺基亚</td>
        <td class="td2">500</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">603</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">700</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">770</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">3155</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">3230</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">5130</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">5220</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">5230</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">5233</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">5235</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">5238</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">5250</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">5300</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">5310</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">5320</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">5330</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">5510</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">5610</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">5800</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6110</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6111</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6120</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6155</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6170</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6230</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6235</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6255</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6260</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6265</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6270</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6280</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6282</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6288</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6300</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6303</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6620</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6650</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6651</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6670</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6680</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6681</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6682</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6700</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">7270</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">7370</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">7600</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">7610</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">7710</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">9300</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">9500</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">9500</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">2700C</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">2710C</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">2730C</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">3109c</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">3110c</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">3208c</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">5530XM</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">5800XM</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6122c</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6220c</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6230i</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6500C</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6600i</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6630c</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6700S</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6700S</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6730C</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">6788i</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">702T</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">7210c</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">C1</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">C1-02</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">C2-02</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">C2-05</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">C3-00</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">C5-00i</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">C5-01</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">C5-03</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">C5-05</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">C6-00</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">C6-01</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">C7-00</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">E5-00</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">E51</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">E52</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">E60</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">E6-00</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">E61</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">E63</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">E65</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">E66</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">E70</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">E7-00</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">E71</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">E72</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">E72i</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">E90</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">N70</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">N73</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">N78</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">N79</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">N800</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">N8-00</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">N810</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">N82</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">N85</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">N86</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">N9</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">N90</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">N9-00</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">N91</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">N95</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">N97 mini</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">N97i</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">N-Gage</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">NM850iG</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">T7-00</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">x2</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">X2-01</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">X3-00</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">X3-02</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">X5-00</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">X5-01</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">X6</td>
      </tr>
      <tr height="18">
        <td height="18" class="td2">X7-00</td>
      </tr>
    </table>
  </div>
	  <div style="height:20px;"></div>
	   	<div class="area">非智能手机</div>
	<div style="width:748px; border:1px solid #B6D2E9; padding-top:15px;padding-bottom:15px;" >爱皮下载零售店版，支持绝大多数品牌推出的，基于MTK平台的非智能手机！</div>
	
</div>
</div>
</div>
</body>
</html>