<!--{config_load file="smarty.conf"}-->
<div class="content">
	<div class="wrap">
		<div class="scroll">
			<div class="contentbody contentwrap">
				<div style="padding:95px 30px 15px;width:980px;margin:0 auto;">
			      <div style="clear:both;line-height:200%;padding:5px 0 20px 120px;background:url(/resources/img40/tips_people.png) no-repeat left top">
				  	<h2 class="cred" style="font-size:36px;font-weight:normal;margin:20px 0 40px 70px;">安卓一键刷机功能即将上线</h2>
					<dl class="f5" style="color:#2572c8;">
					<dd>安卓手机，想刷就刷，不刷机哪来的玩机乐趣？！</dd>
					<dd>精确匹配安卓机型，一键刷入Recovery，一键获取Root权限，一键下载ROM，玩转安卓手机不再是难事！</dd>
					</dl>
			      </div>
			    </div>
			</div>
		</div>
	</div>
</div>