<!--{config_load file="smarty.conf"}-->
<div class="content">
	<div class="windows">
		<div class="wd_tit">
			<h1>爱皮下载消息提醒</h1>
			<div class="closeWindow"><a href="##">关闭</a></div>
		</div>
		<div class="wd_text">
			这里是消息内容，这里是消息内容这里是消息内容，这里是消息内容，这里是消息内容，这里是消息内容，这里是消息内容，这里是消息，这里是消息的展示内容...
		</div>
		<div class="wd_links">
			<div class="btns"><a href="##" class="openlink">消息按钮</a></div>
			<div class="links">
				<span><a href="##" class="openlink">消息链接</a></span>
				<span><a href="##" class="openlink">消息链接</a></span>
			</div>
		</div>
		<div class="wd_service">
			<span class="callme">有问题？来找我</span>
			<div class="qqonline"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=66182371&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:66182371:41 &r=0.17891979683190584" alt="有问题？来找我" title="有问题？来找我"></a></div>
			<div class="qqoffline"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=66182371&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:66182371:41 &r=0.17891979683190584" alt="有问题？来找我" title="有问题？来找我"></a></div>
		</div>
	</div>
</div>
<style>
	.windows {font-size:12px;background:#fbfeff url(/resources/img40/windowbg.jpg) repeat-x left top;width:328px;height:236px;border:1px solid #3275b4;border-top-left-radius:5px;border-top-right-radius:5px;}
	.wd_tit {height:30px; line-height:28px;padding:0 10px;}
	.wd_tit h1 {color:#fff; font-size:12px; font-weight:bold; font-family:Simsun;margin:0;padding:0;float:left;}
	.wd_tit .closeWindow {float:right;width:51px;height:22px;background:url(/resources/img40/window_spirit.png) no-repeat -1px -223px;text-indent:-1000px;overflow:hidden;}
	.wd_tit .closeWindow a {display:block;height:22px;}
	.wd_text {padding:18px 18px 0 72px;height:110px;color:#4e4f4f;font-size:12px;line-height:180%;background:url(/resources/img40/window_spirit.png) no-repeat 10px 8px;}
	.wd_links {padding:0 0 0 72px;font-size:12px;font-family:Simsun;}
	.wd_links .btns {width:76px;height:23px;background:url(/resources/img40/window_spirit.png) no-repeat -1px -275px;float:left; text-align:center;line-height:23px;color:#4a4a4a;}
	.wd_links .links a {color:#2188fc;text-decoration:underline;font-weight:bold;margin-left:15px;line-height:23px;}
	.wd_links .links a:hover {color:#f00;}
	.wd_service {padding:8px 12px;margin-top:15px;}
	.wd_service .callme {color:#ff6633;background:url(/resources/img40/window_spirit.png) no-repeat 87px -324px;padding-right:18px;margin-top:4px;float:left;}
	.wd_service .qqonline {width:78px;height:24px;float:left;/*background:url(/resources/img40/window_spirit.png) no-repeat -1px -369px;*/margin-left:20px;}
	.wd_service .qqoffline {width:78px;height:24px;float:left;/*background:url(/resources/img40/window_spirit.png) no-repeat -1px -399px;*/margin-left:20px;}
</style>
<script type="text/javascript">
	function closeWindow(){
		setDataCache(null, 'newfeaturesclose', '', function(data, status){
			if (status != 'ok') return;
			log('close window');
		});
	}
</script>
<script type="text/javascript" src="<!--{#res2#}-->/resources/js<!--{#version#}-->/phone.js"></script>
<script type="text/javascript" src="<!--{#res2#}-->/resources/js<!--{#version#}-->/app.js"></script>