<!--{config_load file="smarty.conf" scope="global"}--><!DOCTYPE HTML>
<html <!--{if #mobile_is_cache#}-->manifest="/webapp.manifest"<!--{/if}-->>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
<!-- <!--{#version#}--> <!--{$smarty.now|date_format:"%Y-%m-%d %H:%M:%S"}--> -->
<link href="<!--{#res1#}-->/resources/css<!--{#version#}-->/layout.css" rel="stylesheet" type="text/css" />
<link href="<!--{#res2#}-->/resources/css<!--{#version#}-->/main.css" rel="stylesheet" type="text/css" />
<link href="<!--{#res2#}-->/resources/css<!--{#version#}-->/dxt-web.css" rel="stylesheet" type="text/css" />
<link href="<!--{#res3#}-->/resources/lib/colorbox/colorbox.css" rel="stylesheet" type="text/css" />
<link href="<!--{#res6#}-->/resources/lib/jquery.autocomplete/jquery.autocomplete.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="<!--{#res3#}-->/resources/js<!--{#version#}-->/init.js"></script>
<script type="text/javascript" src="<!--{#res1#}-->/resources/js<!--{#version#}-->/core.js"></script>
<script type="text/javascript" src="<!--{#res2#}-->/resources/js<!--{#version#}-->/phone.js"></script>
<script type="text/javascript" src="<!--{#res4#}-->/resources/js<!--{#version#}-->/common.js"></script>

<script type="text/javascript" src="<!--{#res5#}-->/resources/js<!--{#version#}-->/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="<!--{#res1#}-->/resources/js<!--{#version#}-->/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="<!--{#res2#}-->/resources/js<!--{#version#}-->/jquery.easing.min.js"></script>
<script type="text/javascript" src="<!--{#res3#}-->/resources/js<!--{#version#}-->/jquery.floatingmessage.js"></script>
<script type="text/javascript" src="<!--{#res4#}-->/resources/lib/colorbox/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="<!--{#res6#}-->/resources/lib/jquery.autocomplete/jquery.autocomplete20121017.js"></script>

<script type="text/javascript" src="<!--{#res1#}-->/resources/js<!--{#version#}-->/mobile.js"></script>
<script type="text/javascript" src="<!--{#res5#}-->/resources/js<!--{#version#}-->/opt.js"></script>
<script type="text/javascript" src="<!--{#res2#}-->/resources/js<!--{#version#}-->/app.js"></script>
<script type="text/javascript" src="<!--{#res3#}-->/resources/js<!--{#version#}-->/download.js"></script>
<script type="text/javascript" src="<!--{#res4#}-->/resources/js<!--{#version#}-->/cart.js"></script>

</head>
<body>
<div class="page"><div class="wrap">
	<div class="body"><div class="wrap">
		<!-- head start -->
		<div class="head"><div class="wrap">
		</div></div>
		<!-- head end -->
		
		<!-- container start -->
		<div class="container"><div class="wrap">
					
			<!-- left start -->
			<div class="right"><div class="wrap">
				
			</div></div>
			<!-- left end -->
			
			<!-- center start -->
			<div class="center" style="margin-left:0px;"><div class="warp">
				<!--{$page}-->
			</div></div>
			<!-- center end -->
			
		</div></div>
		<!-- container end -->
		
		<!-- foot start -->
		<div class="foot"><div class="wrap">
		</div></div>
		<!-- foot end -->
		
	</div></div>
</div></div>


</body>
</html>