<!--{config_load file="smarty.conf"}-->
<div class="content">
	<div class="wrap">
		<div class="contentside">
			<!--{include file="toolbar/wgt-toolbar.tpl"}-->
		</div>
		<div class="scroll">
			<div class="sright">
				<!--{include file="dxsoft/downloadrank.tpl" isbiz=1}-->
			</div>
			<div class="sleft">
				
				<div id="catebar" class="clear" style="overflow:hidden">
					<!--{include file="dxsoft/catebar-game.tpl"}-->
				</div>
				
				<!--{include file="dxsoft/softlist.tpl" sort='Game'}-->
				
			</div>
			
		</div>
	</div>
</div>
