<!--{feed int=AP_INT_MENU_LIST  navid=$assign.ap_int.AP_INT_MENU_APPSOTRE_ID order=0 pageno=1 count=15 iscrack=$smarty.get.iscrack|default:0 ret='menulist'}-->
<!--{menu items=$menulist.list.items index='menucode' code=$assign.ap_int.AP_INT_MENUCODE_TYPE_APP ret='menulist'}-->
<!--{feed int=AP_INT_MENU_LIST  navid=$menulist.menuid order=0 pageno=1 count=15 iscrack=$smarty.get.iscrack|default:0 ret='navlist'}-->
<!--{config_load file="smarty.conf"}-->
<div class="content"><div class="wrap">
	<div class="contentside">
		<!--{include file="toolbar/wgt-toolbar-type.tpl" seasele=$assign.ap_int.AP_INT_SEARCH_TYPE_NAME_APP seatype=$assign.ap_int.AP_INT_SEARCH_TYPE_APP'}-->
	</div>
	<!--{menu items=$navlist.list.items index='menucode' code=$assign.ap_int.AP_INT_MENUCODE_TYPE_APP_CAT ret='catmenulist'}-->
	<!--{feed int=AP_INT_COLUMN_CAT_LIST cid=$catmenulist.menuid type=$assign.ap_int.AP_INT_CATEGORY_TYPE_APP  order=0 pageno=1 count=30 ret='app_catlist'}-->
	<div class="scroll">
		<div class="right">
			<div>
					<!--{menu items=$navlist.list.items index='menucode' code=$assign.ap_int.AP_INT_MENUCODE_TYPE_APP_DOWNLOAD_TOP ret='columnmenu'}-->
					<!--{include file="wgt-download-board-list.tpl"	top_id=$columnmenu.menuid code2=$assign.ap_int.AP_INT_MENUCODE_TYPE_APP_CAT code2_id=$smarty.request.catid|default:$app_catlist.list.items[0].catid}-->	

					<!--{menu items=$navlist.list.items index='menucode' code=$assign.ap_int.AP_INT_MENUCODE_TYPE_APP_SHOP_REC ret='columnmenu'}-->
					<!--{if $columnmenu.menuid}-->
					<!--{include file="wgt-shop-soft-list.tpl" shop_rec_id=$columnmenu.menuid code2=$assign.ap_int.AP_INT_MENUCODE_TYPE_APP_CAT code2_id=$smarty.request.catid|default:$app_catlist.list.items[0].catid}-->
					<!--{/if}-->	
			</div>
		</div>
		<div class="center">
			<div class="section">
				<div class="evaList">
					<h2>抵抗禽流感，你准备好了吗?</h2>
					<div class="evaDetail">
						<div class="topicImgs">
							<img src="/resources/img40/eva/zhuanti13_big.jpg" alt="抵抗禽流感，你准备好了吗" />
						</div>
						<blockquote>
							禽流感来袭，又一段难熬的日子来临。本期专题为你提供相关的安卓应用，让你快乐抗禽!
						</blockquote>
						<div class="topiclist clear">
							<dl class="first">
								<dt>
									<p class="tc"><img src="http://img4.pcr5.appdear.com/resources/images/transparent.gif" style="width:72px; height:72px;background:url(http://img.apk.appdear.com/picture/icon/android/20130225/appdear_rfr7kmtxh_android.png_sf_72x72.png) no-repeat center center; border:0px;"></p>
									<p><a id="10046" businesstype="1" isbiz="0" href="http://od.appdear.com/soft/android/20130225/appdear_lbptusovy_android.apk?topicid=013&topicname=抵抗禽流感" installlocate="0" appid="com.snda.youni" versioncode="91" version="v3.2.0.4" type="1" price="0" servicefee="0" class="downbtn_small downinit" onclick="return false;" title="Youni短信"></a></p>
								</dt>
								<dd>
									<p>Youni短信</p>
									<p>盛大有你短信是一款比系统短信更好用的免费短信工具，通过网络您可以与移动、联通、电信，甚至国外用户，免费收发有你消息、图片、语音和贺卡…</p>
									<p>大小：5.67MB</p>
								</dd>
							</dl>
							<dl>
								<dt>
									<p class="tc"><img src="http://img4.pcr5.appdear.com/resources/images/transparent.gif" style="width:72px; height:72px;background:url(http://img.apk.appdear.com/picture/icon/android/20130220/appdear_z6ei4wetn_android.png_sf_72x72.png) no-repeat center center; border:0px;"></p>
									<p><a id="108711" businesstype="1" isbiz="0" href="http://od.appdear.com/soft/android/20130413/appdear_48809_0413_m.apk?topicid=013&topicname=抵抗禽流感" installlocate="0" appid="com.moji.mjweather" versioncode="23701" version="v2.37.01" type="1" price="0" servicefee="0" class="downbtn_small downinit" onclick="return false;" title="墨迹天气"></a></p>
								</dt>
								<dd>
									<p>墨迹天气</p>
									<p>墨迹天气全新Android 2.33—时景热图版！增超炫时景'个人界面'，更方便快捷的与好友互动心中最美时景。足不出户，一览全国各地时景……</p>
									<p>大小：7.65MB</p>
								</dd>
							</dl>
							<dl class="first">
								<dt>
									<p class="tc"><img src="http://img4.pcr5.appdear.com/resources/images/transparent.gif" style="width:72px; height:72px;background:url(http://img.apk.appdear.com/picture/icon/20111121/appdear_66259_icon.png_sf_72x72.png) no-repeat center center; border:0px;"></p>
									<p><a id="110892" businesstype="1" isbiz="0" href="http://od.appdear.com/soft/android/20120809/appdear_78352_android.apk?topicid=013&topicname=抵抗禽流感" installlocate="0" appid="com.duomi.android" versioncode="4050100" version="v4.5.1.0" type="1" price="0" servicefee="0" class="downbtn_small downinit" onclick="return false;" title="多米音乐"></a></p>
								</dt>
								<dd>
									<p>多米音乐</p>
									<p>多米音乐是一款集本地音乐播放、在线音乐播放、歌曲搜索、歌曲下载、分享音乐到新浪微博等多功能于一体的完全免费的手机音乐软件…</p>
									<p>大小：0.96MB</p>
								</dd>
							</dl>
							<dl>
								<dt>
									<p class="tc"><img src="http://img4.pcr5.appdear.com/resources/images/transparent.gif" style="width:72px; height:72px;background:url(http://img.apk.appdear.com/picture/icon/20111202/appdear_50438_icon.jpg_sf_72x72.png) no-repeat center center; border:0px;"></p>
									<p><a id="123551" businesstype="1" isbiz="0" href="http://od.appdear.com/soft/android/20111202/appdear_31430.apk?topicid=013&topicname=抵抗禽流感" installlocate="0" appid="com.health.activity" versioncode="2" version="v1.0" type="1" price="0" servicefee="0" class="downbtn_small downinit" onclick="return false;" title="健康宝典"></a></p>
								</dt>
								<dd>
									<p>健康宝典</p>
									<p>健康宝典是灵客风团队专门为Android用户开发得一款随身健康指南。健康宝典提供在线浏览和下载离线数据包两种方式供您在不同的情况下使用…</p>
									<p>大小：0.46MB</p>
								</dd>
							</dl>
							<dl class="first">
								<dt>
									<p class="tc"><img src="http://img4.pcr5.appdear.com/resources/images/transparent.gif" style="width:72px; height:72px;background:url(http://img.apk.appdear.com/picture/icon/20120225/appdear_169793_icon_g.png_sf_72x72.png) no-repeat center center; border:0px;"></p>
									<p><a id="134195" businesstype="1" isbiz="0" href="http://od.appdear.com/soft/android/20130408/appdear_1757928653_0408_b.apk?topicid=013&topicname=抵抗禽流感" installlocate="0" appid="com.manle.phone.android.yaodian" versioncode="20130403" version="v2.4.9" type="1" price="0" servicefee="0" class="downbtn_small downinit" onclick="return false;" title="掌上药店"></a></p>
								</dt>
								<dd>
									<p>掌上药店</p>
									<p>您还为了丢失药品说明书而烦恼吗？ 您还为家人深夜生病却买不到药品而焦急吗？ 您还为出门在外生病不知道附近哪有药店而心急吗…</p>
									<p>大小：6.56MB</p>
								</dd>
							</dl>
							<dl>
								<dt>
									<p class="tc"><img src="http://img4.pcr5.appdear.com/resources/images/transparent.gif" style="width:72px; height:72px;background:url(http://img.apk.appdear.com/picture/icon/android/20120928/appdear_97887_android.png_sf_72x72.png) no-repeat center center; border:0px;"></p>
									<p><a id="233619" businesstype="1" isbiz="0" href="http://od.appdear.com/soft/android/20130407/appdear_119489_0407_m.apk?topicid=013&topicname=抵抗禽流感" installlocate="0" appid="com.ts.zys" versioncode="441" version="v4.4.1" type="1" price="0" servicefee="0" class="downbtn_small downinit" onclick="return false;" title="快速问医生"></a></p>
								</dt>
								<dd>
									<p>快速问医生</p>
									<p>世界上最快的速度，不是光与电，而是你刚有一个绝妙的主意，你却不知道它早已实现。快速问医生，你所知道的最前卫的问病方式…</p>
									<p>大小：6.95MB</p>
								</dd>
							</dl>
							<dl class="first">
								<dt>
									<p class="tc"><img src="http://img4.pcr5.appdear.com/resources/images/transparent.gif" style="width:72px; height:72px;background:url(http://img.apk.appdear.com/picture/icon/android/20120504/appdear_67211_android.png_sf_72x72.png) no-repeat center center; border:0px;"></p>
									<p><a id="235988" businesstype="1" isbiz="0" href="http://od.appdear.com/soft/android/20120508/appdear_23883_android.apk?topicid=013&topicname=抵抗禽流感" installlocate="0" appid="com.julian.game.dkiii" versioncode="1" version="v1.0" type="1" price="0" servicefee="0" class="downbtn_small downinit" onclick="return false;" title="地下城英雄-暗黑王朝"></a></p>
								</dt>
								<dd>
									<p>地下城英雄-暗黑王朝</p>
									<p>游戏类型 :ARPG  游戏描述: 2012史诗巨作震撼登场！地狱之王大举入侵，风暴王国四英雄奋起反击。圣骑士、亡灵巫师、暗影刺客与精灵游侠四位主人公…</p>
									<p>大小：8.13MB</p>
								</dd>
							</dl>
							<dl>
								<dt>
									<p class="tc"><img src="http://img4.pcr5.appdear.com/resources/images/transparent.gif" style="width:72px; height:72px;background:url(http://img.apk.appdear.com/picture/icon/android/20130403/appdear_eecp6v2yu_android.png_sf_72x72.png) no-repeat center center; border:0px;"></p>
									<p><a id="239081" businesstype="1" isbiz="0" href="http://od.appdear.com/soft/android/20130403/appdear_hmsnjblbl_android.apk?topicid=013&topicname=抵抗禽流感" installlocate="0" appid="com.boyaa.lordland.sina" versioncode="21" version="v3.6" type="1" price="0" servicefee="0" class="downbtn_small downinit" onclick="return false;" title="博雅斗地主"></a></p>
								</dt>
								<dd>
									<p>博雅斗地主</p>
									<p>博雅斗地主是带有浓厚中国特色的扑克游戏, 游戏简单有趣, 上手快, 娱乐性强。博雅公司出品的斗地主以其优秀的质量、玩法的多样赢得了百万用户的青睐…</p>
									<p>大小：10.73MB</p>
								</dd>
							</dl>
							<dl class="first">
								<dt>
									<p class="tc"><img src="http://img4.pcr5.appdear.com/resources/images/transparent.gif" style="width:72px; height:72px;background:url(http://img.apk.appdear.com/picture/icon/android/20130320/appdear_p3uhktvzj_android.png_sf_72x72.png) no-repeat center center; border:0px;"></p>
									<p><a id="239559" businesstype="1" isbiz="0" href="http://od.appdear.com/soft/android/20130320/appdear_3g5txozxv_android.apk?topicid=013&topicname=抵抗禽流感" installlocate="0" appid="com.imod" versioncode="93" version="v2.86" type="1" price="0" servicefee="0" class="downbtn_small downinit" onclick="return false;" title="魔与道OL"></a></p>
								</dt>
								<dd>
									<p>魔与道OL</p>
									<p>《魔与道OL》是一款仙侠类MMORPG手游，目前逾500万的用户注册，万人同时在线！精致的横版视角，丰富的骑宠，个人成长，战斗社交系…</p>
									<p>大小：9.86MB</p>
								</dd>
							</dl>
							<dl>
								<dt>
									<p class="tc"><img src="http://img4.pcr5.appdear.com/resources/images/transparent.gif" style="width:72px; height:72px;background:url(http://img.apk.appdear.com/picture/icon/android/20120613/appdear_634133_icon_h.png_sf_72x72.png) no-repeat center center; border:0px;"></p>
									<p><a id="261047" businesstype="1" isbiz="0" href="http://od.appdear.com/soft/android/20130411/appdear_787202_0411_m.apk?topicid=013&topicname=抵抗禽流感" installlocate="0" appid="me.chunyu.ChunyuDoctorClient" versioncode="210" version="v2.1.0" type="1" price="0" servicefee="0" class="downbtn_small downinit" onclick="return false;" title="春雨医生端"></a></p>
								</dt>
								<dd>
									<p>春雨医生端</p>
									<p>中国领先的专业移动医疗服务应用——春雨掌上医生,推出的专业医生版客户端,提供以下功能:● 查看患者问题,给予解答● 编辑医生个人资料及可预约时间…</p>
									<p>大小：3.15MB</p>
								</dd>
							</dl>
							<dl class="first">
								<dt>
									<p class="tc"><img src="http://img4.pcr5.appdear.com/resources/images/transparent.gif" style="width:72px; height:72px;background:url(http://img.apk.appdear.com/picture/icon/android/20130312/appdear_6ak2avcud_android.png_sf_72x72.png) no-repeat center center; border:0px;"></p>
									<p><a id="277332" businesstype="1" isbiz="0" href="http://od.appdear.com/soft/android/20121026/appdear_zddk6ftbz_android.apk?topicid=013&topicname=抵抗禽流感" installlocate="0" appid="com.mykj.game.ddz" versioncode="7" version="v1.2.4" type="1" price="0" servicefee="0" class="downbtn_small downinit" onclick="return false;" title="赢话费斗地主"></a></p>
								</dt>
								<dd>
									<p>赢话费斗地主</p>
									<p>赢话费斗地主是全国网络智运会独家官方竞技平台中的主打项目，冠军单项奖10万现金， 累积奖金高达百万;每天还有斗地主奖话费比赛场…</p>
									<p>大小：7.8MB</p>
								</dd>
							</dl>
							<dl>
								<dt>
									<p class="tc"><img src="http://img4.pcr5.appdear.com/resources/images/transparent.gif" style="width:72px; height:72px;background:url(http://img.apk.appdear.com/picture/icon/android/20130321/appdear_q8mnf52ds_android.png_sf_72x72.png) no-repeat center center; border:0px;"></p>
									<p><a id="278582" businesstype="1" isbiz="0" href="http://od.appdear.com/soft/android/20130321/appdear_h3y24hlmq_android.apk?topicid=013&topicname=抵抗禽流感" installlocate="0" appid="com.ss.android.article.news" versioncode="242" version="v2.4" type="1" price="0" servicefee="0" class="downbtn_small downinit" onclick="return false;" title="今日头条"></a></p>
								</dt>
								<dd>
									<p>今日头条</p>
									<p>发现属于你的头条 - 收集热门新闻和你感兴趣的新闻，第一时间发现属于你的头条，新闻不再“刷”着看  ♥ 分享阅读乐趣…</p>
									<p>大小：3.1MB</p>
								</dd>
							</dl>
							<dl class="first">
								<dt>
									<p class="tc"><img src="http://img4.pcr5.appdear.com/resources/images/transparent.gif" style="width:72px; height:72px;background:url(http://img.apk.appdear.com/picture/icon/android/20120927/appdear_842494_icon_h.png_sf_72x72.png) no-repeat center center; border:0px;"></p>
									<p><a id="324532" businesstype="1" isbiz="0" href="http://od.appdear.com/soft/android/20130117/appdear_106992_0117_b.apk?topicid=013&topicname=抵抗禽流感" installlocate="0" appid="com.ubbcn.android.qair" versioncode="8" version="v1.2.4" type="1" price="0" servicefee="0" class="downbtn_small downinit" onclick="return false;" title="QAir空气监测站"></a></p>
								</dt>
								<dd>
									<p>QAir空气监测站</p>
									<p>惊艳的图表，动态的数据，造型多变的播报员小Q，可爱至极的橡皮泥艺术令空气质量播报不再枯燥。&nbsp;穿毛裤还是裙子…</p>
									<p>大小：2.16MB</p>
								</dd>
							</dl>
							<dl>
								<dt>
									<p class="tc"><img src="http://img4.pcr5.appdear.com/resources/images/transparent.gif" style="width:72px; height:72px;background:url(http://img.apk.appdear.com/picture/icon/android/20121016/appdear_378919_icon_g.png_sf_72x72.png) no-repeat center center; border:0px;"></p>
									<p><a id="331030" businesstype="1" isbiz="0" href="http://od.appdear.com/soft/android/20130322/appdear_168784_0322_b.apk?topicid=013&topicname=抵抗禽流感" installlocate="0" appid="com.unitepower.mcd33130" versioncode="5" version="v5.0" type="1" price="0" servicefee="0" class="downbtn_small downinit" onclick="return false;" title="感冒食疗"></a></p>
								</dt>
								<dd>
									<p>感冒食疗</p>
									<p>如今是感冒的高发期，如何从饮食上预防感冒、治疗感冒，本应用将为你一一解读。本应用的特点…</p>
									<p>大小：3.39MB</p>
								</dd>
							</dl>
							<dl class="first">
								<dt>
									<p class="tc"><img src="http://img4.pcr5.appdear.com/resources/images/transparent.gif" style="width:72px; height:72px;background:url(http://img.apk.appdear.com/picture/icon/android/20130124/appdear_wlm42p1bi_android.png_sf_72x72.png) no-repeat center center; border:0px;"></p>
									<p><a id="378584" businesstype="1" isbiz="0" href="http://od.appdear.com/soft/android/20130124/appdear_u5o7jimtu_android.apk?topicid=013&topicname=抵抗禽流感" installlocate="0" appid="com.game5a.leitingzhanjihd" versioncode="10400" version="v1.04.00" type="1" price="0" servicefee="0" class="downbtn_small downinit" onclick="return false;" title="雷霆战机豪华版"></a></p>
								</dt>
								<dd>
									<p>雷霆战机豪华版</p>
									<p>一年前，格拉多尼星人依靠先进的能量科技打败了塞伯坦的机械文明，但在入侵地球的时候，因为错误的预计了地球联盟军队的数量…</p>
									<p>大小：4.67MB</p>
								</dd>
							</dl>
							<dl>
								<dt>
									<p class="tc"><img src="http://img4.pcr5.appdear.com/resources/images/transparent.gif" style="width:72px; height:72px;background:url(http://img.apk.appdear.com/picture/icon/android/20130411/appdear_k14buzdbp_android.png_sf_72x72.png) no-repeat center center; border:0px;"></p>
									<p><a id="490651" businesstype="1" isbiz="0" href="http://od.appdear.com/soft/android/20130411/appdear_ejwsglk1f_android.apk?topicid=013&topicname=抵抗禽流感" installlocate="0" appid="a5game.fruit.port10086" versioncode="10030" version="v1.00.30" type="1" price="0" servicefee="0" class="downbtn_small downinit" onclick="return false;" title="水果传奇"></a></p>
								</dt>
								<dd>
									<p>水果传奇</p>
									<p>忍者下岗！武士逆袭！风靡全球的水果忍者登陆中国，开始了惊险刺激的传奇旅程：海滩、雪山、圣地、太空等丰富关卡带来精彩纷呈的创新玩法…</p>
									<p>大小：6.7MB</p>
								</dd>
							</dl>

						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div></div>